h1{
    text-align: center;
    color: blue;
}

/* .nav-link{
    margin-right: 15px; 
    text-decoration: none; 
    color: inherit;
}

.nav-link:last-child {
    margin-right: 0;
} */

.container{
    display: flex;
    gap: 15px;
}

.container .link{
    text-decoration: none;
    color: black;
}